<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Barack Obama by Tuan Anh</title>
</head>
<body>
    <h1>Code name: Barack Obama</h1>
    <div class = "bio_header" style = "float:left;" >
        <img src="https://m.media-amazon.com/images/M/MV5BNTczMzk1MjU1MV5BMl5BanBnXkFtZTcwNDk2MzAyMg@@._V1_UY317_CR2,0,214,317_AL_.jpg" alt = "Obama at his finess" height="auto" width="auto" clear:both; />  
        <p style ="float:right ; display: block;">Barack Obama is an American politician who served as the 44th President of the United States after entering the office in January 2009 and left in January 2017. Etc</p>
    </div>
    <h2>Position: Retired BOSS, I mean president</h2>
    <iframe src="https://giphy.com/embed/Ov7lAOUsu4Yo0" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

        

</body>
</html>